/* @font-face {
  font-family: 'Inter';
  src: url("../src/assets/fonts/Inter-Regular.ttf");
} */
@import "tailwindcss";

@theme{
  --font-inter: 'Inter', sans-serif;
}

.blog-content p {
  margin-bottom: 2rem;
  line-height: 1.85;
}

.blog-content h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #4b1d73;
}

.blog-content strong {
  font-weight: 600;
}
